#  Multiple Regression Model Prediction

#

   The necesarily libries:

In [78]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import missingno as msno
import matplotlib.pyplot as plt
from sklearn import preprocessing



from sklearn.utils import check_array
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score
from sklearn.metrics import median_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

import math

import warnings
warnings.filterwarnings("ignore")

In [79]:
data = pd.read_csv('encoded2.csv')

In [80]:
data

,car_name,year,mileage,fuel_type,seller_type,transmission_type,previous_owners,selling_price
0,84,2014.0,27000,2,0,1,0,3.35
1,87,2013.0,43000,1,0,1,0,4.75
2,66,2017.0,6900,2,0,1,0,7.25
3,90,2011.0,5200,2,0,1,0,2.85
4,86,2014.0,42450,1,0,1,0,4.60
...,...,...,...,...,...,...,...,...
251,67,2010.0,38000,2,0,1,0,3.25
252,63,2014.0,33019,2,0,1,0,3.75
253,67,2015.0,60076,1,0,1,0,8.55
254,65,2015.0,60000,2,0,1,0,4.00
255,65,2016.0,5464,2,0,1,0,5.30

   Defining the independent variables and dependent variable:

In [81]:
y=data.selling_price
X=data.drop(columns=['selling_price'])

Running and fitting the model:

In [82]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()

Implementing a cross Valiadtion on the model:

In [83]:
from sklearn.model_selection import cross_val_score

reg_score= cross_val_score(LR, X,y, cv=10, scoring= 'neg_mean_absolute_error')
reg_score

array([-1.60991939, -1.55695975, -1.16840308, -0.5279522 , -0.61685784,
       -0.76108385, -0.93730719, -1.34657479, -1.1549264 , -1.30904153])

In [84]:
reg_score_n = -reg_score   
reg_score_n

array([1.60991939, 1.55695975, 1.16840308, 0.5279522 , 0.61685784,
       0.76108385, 0.93730719, 1.34657479, 1.1549264 , 1.30904153])

Calculating the mean absolute error for all validation folds:

In [85]:
np.mean(reg_score_n)

1.098902603228354

Comparison between the actual and predicted values:

In [86]:
from sklearn.model_selection import cross_val_predict
y_pred= cross_val_predict(LR, X, y, cv=10, method= 'predict')

In [87]:

df= pd.DataFrame(data={'prediction' : y_pred, 'actual' :y})
df

     prediction  actual
0      5.014544    3.35
1      5.550235    4.75
2      5.665060    7.25
3      4.363166    2.85
4      5.789114    4.60
..          ...     ...
251    3.727573    3.25
252    4.665247    3.75
253    5.810474    8.55
254    4.878636    4.00
255    5.191517    5.30

[256 rows x 2 columns]