# Random Forest Regression Model Prediction

#

   The necesarily libries:

In [34]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import missingno as msno
import matplotlib.pyplot as plt
from sklearn import preprocessing



from sklearn.utils import check_array
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score
from sklearn.metrics import median_absolute_error
import math

import warnings
warnings.filterwarnings("ignore")

In [35]:
data = pd.read_csv('encoded2.csv')

In [36]:
data

,car_name,year,mileage,fuel_type,seller_type,transmission_type,previous_owners,selling_price
0,84,2014.0,27000,2,0,1,0,3.35
1,87,2013.0,43000,1,0,1,0,4.75
2,66,2017.0,6900,2,0,1,0,7.25
3,90,2011.0,5200,2,0,1,0,2.85
4,86,2014.0,42450,1,0,1,0,4.60
...,...,...,...,...,...,...,...,...
251,67,2010.0,38000,2,0,1,0,3.25
252,63,2014.0,33019,2,0,1,0,3.75
253,67,2015.0,60076,1,0,1,0,8.55
254,65,2015.0,60000,2,0,1,0,4.00
255,65,2016.0,5464,2,0,1,0,5.30

   Defining the independent variables and dependent variable:

In [37]:
y=data.selling_price
X=data.drop(columns=['selling_price'])

Running and fitting the model:

In [38]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(min_samples_split=4,n_estimators=200)
RF

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=4, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

Implementing a cross Valiadtion on the model:

In [39]:
from sklearn.model_selection import cross_val_score

reg_score= cross_val_score(RF, X,y, cv=10, scoring= 'neg_mean_absolute_error')
reg_score

array([-1.11233912, -0.95297336, -1.28762704, -0.295498  , -0.19131131,
       -0.24033584, -0.51166662, -1.35779452, -0.81058063, -0.84449347])

In [40]:
reg_score_n = -reg_score
reg_score_n

array([1.11233912, 0.95297336, 1.28762704, 0.295498  , 0.19131131,
       0.24033584, 0.51166662, 1.35779452, 0.81058063, 0.84449347])

Calculating the mean absolute error for all validation folds:

In [41]:
np.mean(reg_score_n)

0.7604619899722358

Comparison between the actual and predicted values:

In [42]:
from sklearn.model_selection import cross_val_predict
y_pred= cross_val_predict(RF, X, y, cv=10, method= 'predict')

In [43]:
df= pd.DataFrame(data={'prediction' : y_pred, 'actual' :y})
df

     prediction  actual
0      5.203164    3.35
1      5.251114    4.75
2      7.638173    7.25
3      3.554911    2.85
4      5.414591    4.60
..          ...     ...
251    4.445008    3.25
252    4.109778    3.75
253    6.178046    8.55
254    4.881107    4.00
255    5.418452    5.30

[256 rows x 2 columns]